body {
    background-color: rgb(0, 0, 0);
}

.terminal-outer {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 125px;
}

.terminal-tabs { 
    background-color: #f0ecf7; 
    height: 30px;
}

.terminal-inner {
    height: 375px; 
    width: 550px; 
    background-color: #282a36;
    border-radius: 3%;
    box-shadow: 0px 8px 16px 0px rgba(29, 28, 28, 0.2);
    border-top: 15px solid #f0ecf7;
}

.red {
    width: 15px;
    height: 15px;
    background: #fe5f57;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #5553530e;
    margin-left: 10px;
    text-decoration: none;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #72717118;
}

.yellow {
    width: 15px;
    height: 15px;
    background: #febc2f;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #5553530e;
    margin-left: 7px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #73717118;
}

.green {
    width: 15px;
    height: 15px;
    background: #28c840;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #5553530e;
    margin-left: 7px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #72717118;
}