.homepage-links {
    text-decoration: none;
    color: black;
    background-color: #F0ECF7; 
    margin: 20px; 
    padding: 1px; 
    /* box-shadow: 0 0 15px rgba(0,0,0,0.75);
    clip-path: inset(0px -15px 0px 0px); */
}

.background {
    background-color: #F0ECF7; 
    padding: 3px; 
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
}